<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
</head>
<body>
    <main>
        {{ section.content | safe }}

        <p>Explore our <a href="https://gwwtests.github.io/24/visjs-vis-network-subject-object-predicate/graph-relationships-ver-5-mod.html">Graph Triplet Visualizer</a> to interact with graph data.</p>
        <p>Use <a href="https://chatgpt.com/g/g-6730f18c987c8190baeeb872c2504306-semantic-tripleter">Semantic Tripleter GPT</a> to generate sets of triplets for your projects!</p>
        <ul>
            {% set blog_section = get_section(path="blog/_index.md") %}
            {% for page in blog_section.pages | filter(attribute="draft", value=false) %}
            <li>
                <article>
                    <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
                    <time datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time>
                </article>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
